<h1>Sign in here to see your ideas!</h1>

<div class="login-box">
  <%= form_for(:session, url: login_path) do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= f.label :confirm_password %>
    <%= f.password_field :confirm_password %>

    <%= f.submit "Login", class: "btn btn-success" %>
  <% end %>
</div>
