<%= link_to "Log Out", logout_path, method: :delete %>


<h1>"THOUGHTS FOUND HERE!"</h1>

<%= form_for(@new_link) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :url %>
  <%= f.text_field :url %>
  <%= f.submit "Submit Link", class: "btn btn-success" %>
<% end %>

<br><br><br>

<ul>
<% if @links %>
  <% @links.each do |link| %>
  <li>
  <%= link.title %><br>
  <%= link.url %>
  </li>
  <% end %>
<% end %>
</ul>
