<%= link_to "Log Out", logout_path, method: :delete %>


<h1>"THOUGHTS FOUND HERE!"</h1>

<%= form_for(@new_link) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :url %>
  <%= f.text_field :url %>
  <%= f.submit "Submit Link", class: "btn btn-success" %>
<% end %>

<br><br><br>

<ul>
  <% @links.each do |link| %>
    <li>
      <%= link.title %><br>
      <%= link.url %>
    </li>
    <% if link.read %>
      <%= link_to "Mark as Unread", link_path(link, link: {read: false}), method: :patch, class: :read %>
    <% else %>
      <%= link_to "Mark as Read", link_path(link, link: {read: true}), method: :patch, class: :unread %>
    <% end %> -
  <% end %>
</ul>
