<%= link_to "Log Out", logout_path, method: :delete %>

<h1>"THOUGHTS FOUND HERE!"</h1>

<div class="new-link-form form-group">
  <%= form_for(@new_link) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %><br>
    <%= f.label :url %>
    <%= f.text_field :url %><br>
    <%= f.submit "Submit Link", class: "btn btn-success" %>
  <% end %>
</div>

<br><br><br>

<div class="whole-link">

</div>
<!-- <ul>
  <%# @links.each do |link| %>
  <div class='link-in-list <%#= "#{link.read}" %>'>
    <li class="link-list-item unread">
      <%#= link.title %><br>
      <%#= link.url %>
<br>
    <%# if link.read %>
      <%#= link_to "Mark as Unread", link_path(link, link: {read: false}), method: :patch, class: "btn btn-danger", id: "mark-unread" %>
    <%# else %>
      <%#= link_to "Mark as Read", link_path(link, link: {read: true}), method: :patch, class: "btn btn-success", id: "mark-read" %>
    <%# end %>
    <%#= link_to "Edit this link", edit_link_path(link), class: "btn btn-primary" %>
    </li>
  </div>
  <br>
  <%# end %>
</ul> -->
